<!doctype html>
<html ng-app="todo" >
<head>
    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css"/>
</head>
<body >
    <div class="container">
        <section ng-controller="MainController as mainCtrl">
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in mainCtrl.todos track by $index">
                        <td ng-hide="item.isEditMode" >{{item.name}}</td>
                        <td ng-hide="item.isEditMode">{{item.priority}}</td>
                        <td ng-hide="item.isEditMode"><button clas="btn" ng-click="item.isEditMode=true">EDIT</td>

                        <td ng-show="item.isEditMode" ><input type="text" ng-model="item.name" />  </td>
                        <td ng-show="item.isEditMode">
                                <select ng-model="item.priority">
                                    <option value="Low">Low</option>
                                    <option value="Medium">Medium</option>
                                    <option value="High">High</option>
                                </select
                        ></td>
                        <td ng-show="item.isEditMode">
                            <button clas="btn" ng-click="mainCtrl.editTodo(item);" >SAVE</button>
                            <button clas="btn" ng-click="mainCtrl.deleteTodo(item)" >DELETE</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </section>
        <section ng-controller="AddController as addCtrl">
            <form ng-submit="addCtrl.addTodo()">
                <input type="text" ng-model="addCtrl.name" placeholder="add what u wanna do" />
                <select ng-model="addCtrl.priority">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <!--<button class="btn btn-primary" ng-click="addCtrl.addTodo()">ADD</button>-->
                <input type="submit" value="ADD" class="btn btn-primary" />
            </form>
        </section>
    </div>
    <script src="app.js"></script>
    <script src="factory.js"></script>
    

</body>
</html>